## [Online Pandas Exercise](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)
### 1.Create Series from dict /assign name

pandas.Series(data=None, **index**=None, dtype=None, **name**=None, copy=False, fastpath=False)

In [2]:
import numpy as np
import pandas as pd

In [3]:
# input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [5]:
# output1
pd.Series(mydict).head()

a    0
b    1
c    2
d    4
e    3
dtype: int64

In [23]:
# output2
pd.Series(myarr, index=mylist, name='order').head()

a    0
b    1
c    2
e    3
d    4
Name: order, dtype: int64

### 2.convert the index of a sries into a column of a df

DataFrame.reset_index(level=None, **drop**=False, inplace=False, col_level=0, col_fill='')

In [9]:
# input
ser = pd.Series(mydict)

In [13]:
# output
ser.reset_index().head()

  index  0
0     a  0
1     b  1
2     c  2
3     d  4
4     e  3

### 3.combine series to form df
pandas.concat(objs(seq), **axis=0**, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=None, copy=True)
-  axis: ({0/’index’, 1/’columns’}, default 0)

In [14]:
# input
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)

In [15]:
# output1
pd.DataFrame({'col1': ser1, 'col2': ser2}).head()

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [16]:
# output2
pd.concat([ser1, ser2], axis=1).head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

### 4. get the items of series A not present in series B

In [24]:
# input 
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [25]:
# output
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

### 5. get the items not common to both series A and series B

In [26]:
# output
ser1[~ser1.isin(ser2)].append(ser2[~ser2.isin(ser1)])

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

### 5. get the minimum, 25th percentile, median, 75th, and maximum
numpy.percentile(a, **q**, axis=None)
-  q: (float in range of [0,100] (or sequence of floats))

In [27]:
# input
np.random.RandomState(100)
ser_rand = pd.Series(np.random.normal(10, 5, 25))

In [29]:
# output
ser_rand.describe()

count    25.000000
mean      9.077290
std       4.287819
min       0.293734
25%       5.765617
50%       9.642595
75%      12.311676
max      16.386937
dtype: float64

In [30]:
np.percentile(ser_rand, q=[0, 25, 50, 75, 100])

array([  0.29373368,   5.76561679,   9.64259454,  12.31167644,  16.38693701])

### 6.get frequency counts of unique items of a series